@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* Use the background image from public folder */
    background-image: url('/bg.jpg');
    /* Apply gradient overlay */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/bg.jpg');
    /* Position the background image */
    background-position: center;
    /* Make the background cover the entire viewport */
    background-size: cover;
    /* Ensure the background remains fixed as the user scrolls */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}